@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/bg-images/1.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 220px;
  padding: 20px 20px 0;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
  flex-wrap: wrap;
  text-align: left;
  position: relative;
  z-index: 20;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin: 0 0px 10px 0;
}

.playlist-wrapper {
  overflow: hidden;
}

.play-list {
  text-align: left;
  transition: 0.6s;
  transform: translateY(-150%);
  background-color: rgba(116, 104, 104, 0.8);
  border-radius: 15px;
  position: relative;
  z-index: 20;
}

.play-list.open {
  transform: translateY(0);
}

.play-item {
  position: relative;
  padding: 5px 5px;
  padding-left: 24px;
  list-style: none;
  opacity: 0.8;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 8px;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.play-item.active {
  background-color: rgba(197, 179, 88, 0.3);
  border-radius: 10px;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.show-playlist {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  background-image: url("../assets/svg/playlist-check.svg");
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.show-track {
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.show-playlist.open {
  background-image: url("../assets/svg/playlist-remove.svg");
}

.show-playlist:hover,
.show-playlist:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.change-language-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../assets/svg/language.svg");
  background-size: contain;
  background-position: center;
  cursor: pointer;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.change-language-btn:hover,
.change-language-btn:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.translation-block {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.translation-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.translation-btn {
  opacity: 0;
}

.translation-btn:nth-of-type(1).open {
  transition: opacity 0.5s;
  opacity: 1;
}

.translation-btn:nth-of-type(2).open {
  transition: opacity 1s;
  opacity: 1;
}

.translation-btn:nth-of-type(3).open {
  transition: opacity 1.5s;
  opacity: 1;
}

.translation-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  padding: 5px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.translation-btn.active-language {
  background-color: rgba(197, 179, 88, 0.3);
}

.show-weather-block {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../assets/svg/weather-icon.svg");
  background-size: contain;
  transition: 0.4s;
  cursor: pointer;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.show-weather-block:hover,
.show-weather-block:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.weather-block {
  text-align: right;
  border-radius: 15px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 7px;
  width: 200px;
  text-align: left;
  position: relative;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.7s;
}

.weather.open-weather {
  opacity: 1;
  background-color: rgba(116, 104, 104, 0.9);
  border-radius: 15px;
}

.show-weather {
  width: 190px;
  background-color: rgba(197, 179, 88, 0.3);
  padding: 5px 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.weather-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: opacity 0.7s;
  border-radius: 15px;
  font-size: 14px;
  padding: 0 10px;
}

.weather-item {
  margin-bottom: 5px;
}

.weather-error {
  font-size: 14px;
  color: orange;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 190px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.city::placeholder {
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 260px;
  padding: 0 20 20px;
  transform: translateY(-200px);
}

.slider-icon {
  position: absolute;
  top: 55%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  font-family: "Arial-MT";
  font-size: 90px;
  letter-spacing: -4px;
}

.date-block {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 5px;
}

.wars-day-block {
  font-size: 30px;
  font-weight: 600;
  color: #ff5e00;
}

.last-day {
  font-size: 28px;
  margin-bottom: 20px;
  color: aquamarine;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 28px;
  margin-bottom: 30px;
}

.greeting {
  font-size: 50px;
  flex: 1;
  text-align: right;
}

.name {
  flex: 1;
  width: 100%;
  padding: 0 10px;
  font-size: 40px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-style: italic;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
  font-size: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding: 0px 20px 10px;
  margin-top: -200px;
}

.change-quote {
  margin-bottom: 20px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  font-size: 20px;
  line-height: 30px;
  transition: 0.4s all;
}

.author {
  font-size: 18px;
  font-style: italic;
  transition: 0.4s all;
}

.all-pictures {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #ff5e00;
}

@media (max-width: 910px) {
  .show-playlist {
    margin-left: 20px;
  }
  .weather-wrapper {
    background-color: rgba(116, 104, 104, 0.9);
    position: relative;
    z-index: 20;
    opacity: 0;
  }
  .weather-wrapper.open-forecast {
    opacity: 1;
  }
  .city::placeholder {
    text-align: left;
  }
  .translation-block {
    order: -1;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .translation-btn-wrapper {
    margin-bottom: 0;
    justify-content: flex-start;
  }
  .slider-icon {
    top: 46px;
  }
}

@media (max-width: 768px) {
  .time {
    font-size: 72px;
  }

  .greeting-container {
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
  .name::placeholder {
    font-size: 24px;
  }
}

@media (max-width: 580px) {
  .header {
    padding: 15px 15px 0;
  }
  .translation-block {
    flex-direction: row;
  }
  .weather-block {
    order: -1;
  }
  .player-wrapper {
    order: 2;
    align-self: center;
    margin: 0 auto;
    transform: translateY(-80px);
  }
}

@media (max-width: 560px) {
  .header {
    padding: 15px 10px 0;
  }
  .player {
    width: 190px;
  }
  .player-controls {
    margin-bottom: 5px;
  }
  .play-item {
    padding-left: 18px;
    font-size: 13px;
  }
  .play-item::before {
    left: 4px;
  }
  .weather {
    order: 0;
    width: 180px;
  }
  .show-weather {
    width: 100%;
  }
  .main {
    padding-bottom: 0;
  }
  .greeting {
    font-size: 44px;
  }
  .time {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }
  .date-block {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .last-day {
    font-size: 20px;
  }
  .greeting-container {
    font-size: 25px;
  }
  .footer {
    padding-top: 0;
  }
  .quote {
    line-height: 30px;
  }
}

@media (max-width: 519px) {
  .header {
    flex-wrap: wrap;
  }
  .weather {
    margin-bottom: 15px;
    row-gap: 4px;
  }
  .main {
    transform: translateY(-190px);
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 0;
  }
  .weather {
    order: 1;
    row-gap: 7px;
  }
  .player-controls {
    margin-bottom: 15px;
  }
  .time {
    font-size: 60px;
  }
  .name::placeholder {
    font-size: 20px;
  }
}

@media (max-width: 440px) {
  .time {
    min-height: 70px;
  }
  .quote {
    font-size: 18px;
    line-height: 30px;
  }
  .author {
    font-size: 16px;
  }
  .quote {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .header {
    padding: 15px 10px 0;
  }
  .translation-btn {
    width: 30px;
  }
  .translation-block {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .greeting {
    font-size: 40px;
  }
  .time {
    font-size: 50px;
  }
  .date {
    font-size: 19px;
  }
  .wars-day-block {
    font-size: 24px;
  }
  .last-day {
    font-size: 18px;
  }
  .greeting-container {
    font-size: 22px;
  }
  .slide-prev {
    left: 15px;
  }
  .slide-next {
    right: 15px;
  }
  .quote {
    font-size: 16px;
  }
}

@media (max-width: 319px) {
  .weather {
    width: 175px;
  }
}
