@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 20px black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url('../assets/bg-images/1.jpg') center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 0.6s ease-in-out;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px 20px 0;
}

.player-wrapper {
  position: relative;
  z-index: 150;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  position: relative;
  z-index: 20;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin: 0 0px 10px 0;
}

/*.playlist-wrapper {
  overflow: hidden;
}

.play-list {
  text-align: left;
  transition: 0.6s;
  transform: translateY(-150%);
  background-color: rgba(116, 104, 104, 0.8);
  border-radius: 15px;
  position: relative;
  z-index: 20;
}

.play-list.open {
  transform: translateY(0);
}

.play-item {
  position: relative;
  padding: 5px 5px;
  padding-left: 24px;
  list-style: none;
  opacity: 0.8;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 8px;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.play-item.active {
  background-color: rgba(197, 179, 88, 0.3);
  border-radius: 10px;
}*/

.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.change-quote:hover {
  opacity: 1;
}

.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 140px;
  height: 45px;
  /*background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');*/
  color: red;
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.play:hover {
  background: red;
  color: #fff;
}

.pause {
  background: url('../assets/svg/pause.svg') no-repeat center / 35px, rgba(255, 255, 255, 0.3);
}

.pause:hover {
  background:  url('../assets/svg/pause.svg') no-repeat center / 35px, red ;
}

/*.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.show-playlist {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  background-image: url('../assets/svg/playlist-check.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.show-track {
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.show-playlist.open {
  background-image: url('../assets/svg/playlist-remove.svg');
}

.show-playlist:hover,
.show-playlist:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}*/

.change-language-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url('../assets/svg/language.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.change-language-btn:hover,
.change-language-btn:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.translation-block {
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.translation-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.translation-btn {
  opacity: 0;
}

.translation-btn:nth-of-type(1).open {
  transition: opacity 0.5s;
  opacity: 1;
}

.translation-btn:nth-of-type(2).open {
  transition: opacity 1s;
  opacity: 1;
}

.translation-btn:nth-of-type(3).open {
  transition: opacity 1.5s;
  opacity: 1;
}

.translation-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  padding: 5px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.translation-btn.active-language {
  background-color: rgba(197, 179, 88, 0.3);
}

.show-weather-block {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url('../assets/svg/weather-icon.svg');
  background-size: contain;
  transition: 0.4s;
  cursor: pointer;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.show-weather-block:hover,
.show-weather-block:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.weather-block {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  text-align: right;
  border-radius: 15px;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 7px;
  width: 200px;
  text-align: left;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.7s;
}

.weather.open-weather {
  opacity: 1;
  background-color: rgba(116, 104, 104, 0.9);
  border-radius: 15px;
}

.show-weather {
  width: 190px;
  background-color: rgba(197, 179, 88, 0.3);
  padding: 5px 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.weather-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: opacity 0.7s;
  border-radius: 15px;
  font-size: 14px;
  padding: 0 10px;
}

.weather-item {
  margin-bottom: 5px;
}

.weather-error {
  font-size: 14px;
  color: orange;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 190px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.city::placeholder {
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  min-height: 260px;
  padding: 0 20px;
  /*background: rgba(116, 104, 104, 0.4);*/
  border-radius: 20px;
  /* transform: translateY(-200px); */
}

/* .slider-icon {
  position: absolute;
  top: 55%;
  margin-top: -16px;
  cursor: pointer;
} */

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  font-family: 'Arial-MT';
  font-size: calc(36px + 24 * (100vw / 1340));
  letter-spacing: -4px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px;
  border-radius: 10px;
}

.date-block {
  min-height: 28px;
  font-size: 24px;
  font-size: calc(18px + 6 * (100vw / 1340));
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.war {
  display: inline-block;
  height: calc(80px + 35 * (100vw / 1340));
  aspect-ratio: 1;
  padding: 0;
  flex: 0;
  line-height: 125px;
  line-height: calc(80px + 35 * (100vw / 1340));
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  /* padding: 20px; */
  border-radius: 50%;
  background-color: #fff;
}

.war::before {
  content: '';
  display: block;
  width: calc(30px + 20 * (100vw / 1340));
  height: 40px;
  position: absolute;
  top: calc(0px + 11 * (100vw / 1340));  /*11px;*/
  left: 25px;
  background: url(../assets/svg/weapon.svg) no-repeat center / cover;
}

.wars-day-block {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(24px + 20 * (100vw / 1340));
  font-weight: 600;
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
}

.wars-day-block span:not(.war) {
  flex: 0 1 auto;
}

.last-day {
  font-size: 28px;
  margin-bottom: 10px;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px;
  border-radius: 10px;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 28px; */
  margin-bottom: 15px;
}

.greeting {
  font-size: 20px;
  font-size: calc(22px + 20 * (100vw / 1340));

  flex: 1;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px;
  border-radius: 10px;
}

.name {
  flex: 1;
  width: 100%;
  padding: 0 10px;
  font-size: 40px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding: 0px 20px 10px;
  /* margin-top: -200px; */
}

.change-quote {
  margin-bottom: 7px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.quote__text {
  font-size: 20px;
  line-height: 30px;
  transition: 0.4s all;
  border-radius: 10px;
}

.quote__author {
  font-size: 18px;
  font-style: italic;
  transition: 0.4s all;
}

.all-pictures {
  margin-top: 10px;
  padding: 5px 10px;
  letter-spacing: 3px;
  font-size: 17px;
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

@media (max-width: 910px) {
  .show-playlist {
    margin-left: 20px;
  }
  .weather-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 20;
    opacity: 0;
  }
  .weather-wrapper.open-forecast {
    opacity: 1;
  }
  .city::placeholder {
    text-align: left;
  }
  .translation-block {
    order: -1;
    gap: 10px;
    margin-bottom: 10px;
  }
  .translation-btn-wrapper {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .time {
    font-size: calc(36px + (24 + 24 * 0.7) * ((100vw - 320px) / 1340));
  }

    .greeting {
    padding: 5px;
    font-size: calc(22px + (20 + 20 * 0.7) * ((100vw - 320px) / 1340));
  }

  .date-block {
    font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 1340));
  }

  .wars-day-block {
    font-size: calc(24px + (20 + 20 * 0.7) * ((100vw - 320px) / 1340));
  }

  .war {
    height: calc(80px + (35 + 35 * 0.7) * ((100vw - 320px) / 1340));
    line-height: calc(80px + (35 + 35 * 0.7) * ((100vw - 320px) / 1340));
  }
  .war::before {
    width: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1340));
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
  .name::placeholder {
    font-size: 24px;
  }
}

@media (max-width: 560px) {
  .weather {
    width: 180px;
  }
  .weather-wrapper {
    font-size: 13px;
  }
  .show-weather {
    width: 100%;
  }

  .time {
    margin-bottom: 0;
  }
  .date-block {
    margin-bottom: 5px;
  }
  .last-day {
    font-size: 20px;
  }
  .greeting-container {
    /* font-size: 25px; */
  }
  .footer {
    padding-top: 0;
  }
  .quote__text {
    line-height: 30px;
  }
}

@media (max-width: 519px) {
  .weather {
    margin-bottom: 15px;
    row-gap: 4px;
  }
}

@media (max-width: 480px) {
  .weather {
    order: 1;
    row-gap: 7px;
  }
  .player-controls {
    margin-bottom: 15px;
  }
  .time {
    /*font-size: 60px;*/
  }
  .name::placeholder {
    font-size: 20px;
  }
  .all-pictures {
    font-size: 15px;
  }
}

@media (max-width: 440px) {
  .time {
    min-height: 70px;
  }
  .quote__text {
    font-size: 18px;
    line-height: 30px;
  }
  .quote__author {
    font-size: 16px;
  }
  .quote__text {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  .translation-btn {
    width: 30px;
  }
  .weather-block {
    position: absolute;
    right: 15px;
  }
}

@media (max-width: 360px) {

  .last-day {
    font-size: 18px;
  }
  .greeting-container {
    /* font-size: 22px; */
  }
  .slide-prev {
    left: 15px;
  }
  .slide-next {
    right: 15px;
  }
  .quote__text {
    font-size: 16px;
  }
}

@media (max-width: 319px) {
  .weather {
    width: 175px;
  }
}
