@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 3px solid #f1b851;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url('../assets/bg-images/begin.jpg') center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px 20px 0;
}

.player-wrapper {
  position: relative;
  z-index: 150;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  position: relative;
  z-index: 20;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin: 0 0px 10px 0;
}

.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.change-quote:hover {
  opacity: 1;
}

.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 140px;
  height: 45px;
  color: red;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  padding: 0 15px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}

.play:hover {
  background: red;
  color: #fff;
}

.pause {
  background: url('../assets/svg/pause.svg') no-repeat center / 35px, rgba(255, 255, 255, 0.3);
}

.pause:hover {
  background:  url('../assets/svg/pause.svg') no-repeat center / 35px, red ;
}

.change-language-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url('../assets/svg/language.svg');
  background-size: contain;
  background-position: center;
  cursor: pointer;
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(94%) contrast(86%);
}

.change-language-btn:hover,
.change-language-btn:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.translation-block {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.translation-btn-wrapper {
  position: absolute;
  top: 50px;
  transform: scale(0);
  transform-origin: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

.translation-btn-wrapper_open {
  transform: scale(1);
}

.translation-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  padding: 5px;
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.translation-btn.active-language {
  background-color: rgba(197, 179, 88, 0.3);
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  text-align: right;
  border-radius: 15px;
}

.weather__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  background: url('../assets/svg/weather-icon.svg') no-repeat center / 35px;
  transition: 0.4s;
  cursor: pointer;
    position: relative;
    z-index: 250;
}

.weather__btn:hover,
.weather__btn:active {
  filter: invert(83%) sepia(4%) saturate(149%) hue-rotate(314deg)
    brightness(110%) contrast(86%);
}

.weather__popup {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transform: scale(0);
  transform-origin: top right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 7px;
  padding: 60px 20px 20px;
  text-align: left;
  z-index: 200;
  transition: 0.7s;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.weather__popup_open {
  transform: scale(1);
}

.weather__show-btn {
  width: 100%;
  font-size: 16px;
  background-color: #f1b851;
  padding: 10px;
  border: none;
  color: #242323;
  border-radius: 10px;
  cursor: pointer;
}

.weather__show-btn:focus-visible {
  outline: 3px solid orange;
}

.weather__show-btn:active {
  outline: none;
}

.weather__show-btn_hidden {
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


.weather_ {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: opacity 0.7s;
  border-radius: 15px;
  font-size: 14px;
  padding: 0 10px;
}

.weather__item {
  margin-bottom: 5px;
}

.weather__error {
  font-size: 14px;
  color: orangered;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather__icon {
  font-size: 44px;
}

.weather__city {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border: 0;
  border-radius: 5px;
  outline: 0;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.weather__city::placeholder {
  font-size: 16px;
  color: #3a3838;
}

.weather__city:focus {
  outline: 3px solid #f1b851;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  min-height: 260px;
  padding: 0 20px;
  border-radius: 20px;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  font-family: 'Arial-MT';
  font-size: calc(36px + 24 * (100vw / 1340));
  letter-spacing: -4px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px;
  border-radius: 10px;
}

.date-block {
  min-height: 28px;
  font-size: 24px;
  font-size: calc(18px + 6 * (100vw / 1340));
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.war {
  display: inline-block;
  height: calc(80px + 35 * (100vw / 1340));
  aspect-ratio: 1;
  padding: 0;
  flex: 0;
  line-height: 125px;
  line-height: calc(80px + 35 * (100vw / 1340));
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  /* padding: 20px; */
  border-radius: 50%;
  background-color: #fff;
}

.war::before {
  content: '';
  display: block;
  width: calc(30px + 20 * (100vw / 1340));
  height: 40px;
  position: absolute;
  top: calc(0px + 11 * (100vw / 1340));  /*11px;*/
  left: 25px;
  background: url(../assets/svg/weapon.svg) no-repeat center / cover;
}

.wars-day-block {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: calc(24px + 20 * (100vw / 1340));
  font-weight: 600;
  color: red;
  background-color: rgba(0, 0, 0, 0.4);
}

.wars-day-block span:not(.war) {
  flex: 0 1 auto;
}

.last-day {
  font-size: 28px;
  margin-bottom: 10px;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px;
  border-radius: 10px;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 28px; */
  margin-bottom: 15px;
}

.greeting {
  font-size: 20px;
  font-size: calc(22px + 20 * (100vw / 1340));

  flex: 1;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 5px;
  border-radius: 10px;
}

.name {
  flex: 1;
  width: 100%;
  padding: 0 10px;
  font-size: 40px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding: 0px 20px 10px;
  /* margin-top: -200px; */
}

.change-quote {
  margin-bottom: 7px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.quote__text {
  font-size: 20px;
  line-height: 30px;
  transition: 0.4s all;
  border-radius: 10px;
}

.quote__author {
  font-size: 18px;
  font-style: italic;
  transition: 0.4s all;
}

.all-pictures {
  margin-top: 10px;
  padding: 0px 10px;
  letter-spacing: 3px;
  font-size: 14px;
  color: red;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .time {
    font-size: calc(36px + (24 + 24 * 0.7) * ((100vw - 320px) / 1340));
  }

    .greeting {
    padding: 5px;
    font-size: calc(22px + (20 + 20 * 0.7) * ((100vw - 320px) / 1340));
  }

  .date-block {
    font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 1340));
  }

  .wars-day-block {
    font-size: calc(24px + (20 + 20 * 0.7) * ((100vw - 320px) / 1340));
  }

  .war {
    height: calc(80px + (35 + 35 * 0.7) * ((100vw - 320px) / 1340));
    line-height: calc(80px + (35 + 35 * 0.7) * ((100vw - 320px) / 1340));
  }
  .war::before {
    width: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1340));
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
  .name::placeholder {
    font-size: 24px;
  }
}

